@model DemoAppWithRepositoryAutofac.ViewModel.Response.Response<DemoAppWithRepositoryAutofac.ViewModel.VMCountry>
@{
    ViewBag.Title = "Index";
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Country </h3>
        @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary pull-right" })
    </div>

    <!-- /.box-header -->
    <div class="box-body">
        @using (Html.BeginForm("Index", "Country", FormMethod.Get))
        {
            //the following are search options
            <b> Search Option: </b>
            @Html.RadioButton("option", "Name") <text>Name</text> 
            @Html.RadioButton("option", "Gender") <text> Gender </text>
            @Html.RadioButton("option", "Subjects")<text>Subject</text> 
            @Html.TextBox("search")  
            }
            @using (Html.BeginForm("Index", "Country", FormMethod.Post, new { id = "pagination" }))
            {
                <table id="myTable" class="table display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th scope="col">CountryCode</th>
                            <th scope="col">CountryName</th>
                            <th scope="col">CountryName</th>
                            <th scope="col">CountryName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Datas)
                        {
                            <tr>
                                <th scope="row">@item.CountryCode</th>
                                <td>@item.CountryName</td>
                                <td>@item.CountryId</td>
                                <td>@item.CountryPhoneCode</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li>
                            @if (1 == @ViewBag.currentPage)
                            {
                                <a>«</a>
                            }
                            else
                            {
                                <a href="javascript:PrevNextClick(-1);">«</a>
                            }
                        </li>
                        @{ 
                            int startPage = 1;
                            int lastPage = 7;
                            if (ViewBag.currentPage > 7) {
                                lastPage = startPage + 7;
                                startPage = ViewBag.currentPage - 7;
                            }
                        }
                        @for (int i = startPage; i <= lastPage; i++)
                        {
                            if (i != Model.CurrentPage)
                            {
                                <li><a href="javascript:PagerClick(@i);">@i</a></li>
                            }
                            else
                            {
                                <span></span>
                                <li><a href="#" class="currentPage">@i</a></li>
                            }
                        }
                        <li>
                            @if (Model.PageCount > lastPage)
                            {
                                <a>...</a>
                            } 
                        </li>
                        <li>
                            @if (Model.PageCount == @ViewBag.currentPage)
                            {
                                <a>»</a>
                            }
                            else
                            {
                                <a href="javascript:PrevNextClick(1);">»</a>
                            }
                        </li>
                    </ul>
                </div>
                <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" value="@ViewBag.currentPage" />
            }

            <script type="text/javascript">
                function PagerClick(index) {
                    document.getElementById("hfCurrentPageIndex").value = index;
                    document.forms["pagination"].submit();
                }
                function PrevNextClick(index) {
                    var newindex = 1;
                    //alert(newindex)
                    //alert(document.getElementById("hfCurrentPageIndex").value)
                    if (document.getElementById("hfCurrentPageIndex").value == "") {
                        newindex = 2;
                    }
                    else {
                        newindex = Number(document.getElementById("hfCurrentPageIndex").value) + index
                    }

                    document.getElementById("hfCurrentPageIndex").value = newindex;
                    document.forms["pagination"].submit();
                }
            </script>
        </div>

</div>



